div {
  /*border: solid 1px black;*/
  text-align: center;
}
.tblWhite {
  border: solid 1px #707071;
  background-color: #707071;
}

#button1 {
  background-color: #ffeec9;
  color: #707071;
  font-weight: bold;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  margin: 10px;
}
