body {
  font-family: font-family, "Nanum Gothic", sans-serif;
}

.topmenu {
}
.topmenu td.top {
  background: #333;
  color: #ffffff;
  text-align: center;
}
.topmenu td {
  background: #333;
  color: #ffffff;
  text-align: center;
}
.topmenu td.title {
  background: #666;
  color: #ffffff;
  text-align: center;
}
.topmenu td a,
.topmenu td a:visited {
  color: #fff;
}
.topmenu td.active {
  background: #090;
  color: #333;
}
.topmenu td.active a,
.topmenu td.active a:visited {
  color: #fff;
  text-decoration: none;
}


.viewcode {
  cursor: pointer;
  text-decoration: underline;
}
.viewcode:hover {
  background: #f0f0f0;
  text-decoration: none;
}
.app {
  padding: 10px;
  background: #333;
  color: #fff;
}

table {
  align-content: center;
  align-items: center;
}

select {
  align-self: center;
}
